{% extends 'base.html.twig' %}

{% block title %}Recap{% endblock %}

{% block body %}
    <div class="container mt-5 text-center" style="min-height: 80vh; display: flex; flex-direction: column; justify-content: space-between;">
        <div>
            <h1 class="mb-4" style="font-size: 3rem;">Bienvenue sur la page recap</h1>
            <p style="font-size: 1.25rem;">Cette page est en travaux</p>
            <p style="font-size: 1.25rem;">Merci de votre comprehension</p>
        </div>
        <footer>
            <p>&copy; 2025 SAPR. Tous droits réservés.</p>
        </footer>
    </div>
{% endblock %}
