{% extends 'base.html.twig' %}

{% block title %}Site D'Accueil{% endblock %}

{% block body %}
    <div class="container mt-5 text-center" style="min-height: 80vh; display: flex; flex-direction: column; justify-content: space-between;">
        <div>
            <h1 class="mb-4" style="font-size: 3rem;">Bienvenue sur la page d'accueil</h1>
            <p style="font-size: 1.25rem;">Vous pouvez naviguer depuis la barre de menu en haut de votre écran.</p>
            <p style="font-size: 1.25rem;">Nous vous souhaitons un bon apprentissage !</p>

            <img src="{{ asset('img/LogoSAPR.png') }}" alt="Logo SAPR" class="img-fluid mt-4" style="max-width: 300px;">

        </div>
        <footer>
            <p>&copy; 2025 SAPR. Tous droits réservés.</p>
        </footer>
    </div>
{% endblock %}
