{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <!-- Section "Mon histoire" -->
        <h2>Mon histoire</h2>
        <p>Je suis un jeune étudiant en licence professionnelle conception et développement d'application web et mobile.</p>
        <p>Ma mission est de permettre de fournir un support de cours pour vous permettre de vous améliorer dans le développement web lié à la formation que je poursuis.</p>
    
        <!-- Section "Les thémes abordés" -->
        <h2>Les thémes abordés</h2>
        <p>Vous trouverez de nombreux cours divers et variés, couvrant différents langages de programmation et frameworks.</p>
        <p>Chaque thème est propre à lui-même ! Permettant de s'y retrouver facilement.</p>

        <!-- Section "Dans quel but ?" -->
        <h2>Dans quel but ?</h2>
        <p>Je répondrai à cette question en 3 mots.</p>
        <ul class="list-unstyled">
            <li>Apprendre</li>
            <li>Progresser</li>
            <li>S'autoévaluer</li>
        </ul>
        <p>Les cours s'adressent à toutes les personnes qui sont intéressées et curieuses !</p>
        <p>Pour toutes informations complémentaires, vous pouvez regarder la 
        <a href="http://127.0.0.1:8000/faq" class="text-decoration-underline">FAQ</a></p>
    </div>

    
{% endblock %}
